@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {  
    font-family: 'Android'; /* esssa tag serve para eu usar uma fonte interna*/
    src: url('fontes/idroid.otf') format('opentype'); /* mas eu devo usar o src para poder colocar ela em meu site, eu invoco ela dessa forma, format é o tipo de formado da fonte.*/
    font-weight: normal;
    
}
/*  #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866 
    #1a5c37
    #063d1e
    #3DDA84
    */

    * {
        margin: 0px;
        padding: 0px;
    }
    :root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84; 
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;
   
    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive, sans-serif;
    --fonte-android: 'android', Arial, sans-serif; 

    
    }
body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrão);

}
header {
    width: 120%;
    background-color: var(--cor06);
    min-height: 150px;
    text-align: center;
    padding: 40px 30px 10px 30px;
    background-image: linear-gradient( to bottom, var(--cor04), var(--cor06) );    
}

header > h1 {
    text-shadow: 2px 8px 5px black;
    color: white;
    font-family: var(--fonte-padrão);
    margin-bottom: 20px;
    font-size: 4em;
    font-weight: normal;
    padding-right: 100px;    
}
header > p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 2px 8px 5px rgba(0, 0, 0, 0.719);
    padding-bottom: 30px;
}

nav {
    background-color: var(--cor03);
    padding: 10px;
    box-shadow: 0px 7px 13px 0px;  
    background-image: linear-gradient( to bottom, var(--cor04), var(--cor06) ); 
}
nav > a{
    color: #e0dddd;
    padding: 10px;
    text-decoration:none;
    font-weight: bold; 
  }
nav > a:hover {
    background-color: var(--cor03);
    color: blue;
    border-radius: 7px;
    transition-duration: 0.5s; 
}

main {
 box-shadow: -1px 11px 20px 2px black;
 background-color: white;   
 min-width: 200px;
 max-width: 1000px;
 margin: auto;
 padding: 30px;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
 margin-bottom: 30px;
}
main h1 {
    color: var(--cor06);
    font-family: var(--fonte-android);  
    background-image: linear-gradient(to right, var(--cor04), transparent); 
}
main h2{
    font-family: var(--fonte-android);
    color:var(--cor06);
    background-image: linear-gradient(to right, var(--cor04), transparent);
   
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 24px;
  }
  main a {
  text-decoration:none;
  font-weight: bolder;
  color: var(--cor06);
   
     
  }
  main a:hover {
   
    text-decoration: underline;
    color:#210042;
    background-color:var(--cor02);
    transition-duration: 0.5s; 
    font-size: 15px;
  }

.video {
    background-color: var(--cor06);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
    border-radius: 10px;
}
.video > iframe {
    position: absolute;
    top:6%;
    left:5%;
    height: 88%;
    width: 89%;
}
  
  
a.externo::after {
content: '\00A0\2197';

}



strong{
    text-shadow: -2px 4px 2px #868d86;

}

aside {
    box-shadow: 0px 0px 4px 0px;
    background-color: var(--cor04);
    color: #000000;
    border-radius: 5px;
   
}
aside ul {
    list-style-position: inside; 
    font-weight: 600;
    columns: 2; 
    list-style-type: '\2714\00A0\00A0';
}
aside h3 {
background-image: linear-gradient(to right, var(--cor06), transparent); 
padding:5px 0px 0px 1px;
margin: 4px 0px -13px 0px;
border-radius: 4px 3px 0px 0px;
}
   
footer {
    background-color: var(--cor06);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    
}
footer a {
    color: white;
    text-decoration: none;    
}
footer a:hover {
    color:var(--cor01);
    text-decoration: underline;
    font-weight: bolder;
 
}


img {
    width: 100%;
}
img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}
