@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {  
    font-family: 'Android'; /* esssa tag serve para eu usar uma fonte interna*/
    src: url('fontes/idroid.otf') format('opentype'); /* mas eu devo usar o src para poder colocar ela em meu site, eu invoco ela dessa forma, format é o tipo de formado da fonte.*/
    font-weight: normal;
    
}
/*  #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866 
    #1a5c37
    #063d1e
    #3DDA84
    */

    * {
        margin: 0px;
        padding: 0px;
    }
    :root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84; 
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;
   
    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive, sans-serif;
    --fonte-android: 'android', Arial, sans-serif; 

    
    }
body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrão);

}
header {
    width: 120%; na tela do meu celular estava dando um leve espaço entre o meu h1 do header e o meu conteúdo, as letras estavam saindo pra fora do meu header e resolvi com essa tag. (mas parece que eu nem precisei disso ...)
    background-color: var(--cor06);
    min-height: 150px;
    text-align: center;
    padding: 40px 30px 10px 30px;
    background-image: linear-gradient( to bottom, var(--cor04), var(--cor06) );    
}

header > h1 {
    text-shadow: 2px 8px 5px black;
    color: white;
    font-family: var(--fonte-padrão);
    margin-bottom: 20px;
    font-size: 3em;
    
}
header > p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 2px 8px 5px rgba(0, 0, 0, 0.719);
    
}
nav {
    background-color: var(--cor03);
    padding: 10px;
    box-shadow: 0px 7px 13px 0px;  
    background-image: linear-gradient( to bottom, var(--cor04), var(--cor06) );   
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration:none;
    font-weight: bold;
    

}
nav > a:hover {
    background-color: var(--cor03);
    color: blue;
    border-radius: 7px;
    transition-duration: 0.5s; /* essa tag serve para quando vc passar o mouse por cima demora 5 segundos de transição, fica um efento muito bacana, quando vc tira o mouse ele ainda fica 0.5s com o efeito de como se o mouse estivesse em cima do menu*/
}

main {
 box-shadow: -1px 11px 20px 2px black;
 background-color: white;   
 min-width: 200px;
 max-width: 1000px;
 margin: auto;
 padding: 30px;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
 margin-bottom: 20px;


}
main h1 {
    color: var(--cor06);
    font-family: var(--fonte-android);  
     
}
main h2{
    font-family: var(--fonte-android);
    color:var(--cor06);
    background-image: linear-gradient(to right, var(--cor04), transparent); aqui perceba uma coisa, coloquei a cor 4 e depois transparente, então a cor começa e vai até ficar transparente. se eu colocasse da cor 01 e depois a cor 06, iria ficar todas as cores até chegar na cor 06.
}
main p {
    margin: 15px 0px;
    text-align: justify; essa alinha o nosso texto.
    text-indent: 30px; essa tag faz com que apareça um espaço no começo do nosso parágrafo. Nós colocamos a quantidade que queremos.
    line-height: 1em; essa tag determina o espaço entre linhas, colocamos a quantidade que queremos.
}
main a {
    /*font-size: 18px; estou alterando os nossos links*/ aqui eu acabei aumentando as letras pra deixar em negrito, melhor usa o font-weigth
    font-weight: bold;
    color: var(--cor06)  
}  
main a:hover {
    text-decoration: underline;
    color:#210042;
    background-color:var(--cor02);
    transition-duration: 0.5s; quando eu passar o mouse por cima vai ter esse efeito 
    font-size: 15px; coloquei pra ficar um pouco menor quando passar o mouse por cima, para dar a impressão de que fosse apertar aquele botão
}
.video {
    background-color: var(--cor06);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
    border-radius: 10px;
}
.video > iframe {
    position: absolute; usando essa tag eu posso usar o nossso top e left para mover nosso conteúdo.
    top:6%;
    left:5%;
    height: 88%; podemos também modificar nossa altura e largura. mas para tudo funcionar usamos tbm position relative.
    width: 89%;
}
  

}
a.externo::after {
content: '\00A0\2197'; fiz essa class para acrescentar uma seta para tag que eu desejar, aqui no caso coloquei nos links externos, o código é o 2197, coloco da forma que está ali. Esse \00A0 é um espaço que vc pode colocar caso vc desejar.

}

strong{
    text-shadow: -2px 4px 2px #868d86; como eu quiz modificar strong do meu site iteiro não botei main strong{ }.

}
aside {
    background-color: var(--cor04);
    color: #000000;
    border-radius: 5px;
}
aside ul {
    list-style-position: inside; /* o normal oe outside, que no caso as bolinhas ficam do lado de fora mesmo, inside as bolinhas ficam ao lado de dentro*/
    font-weight: 600;
    columns: 2; /* usei essa tag para dividir essa lista em duas partes ou mais.*/ 
    list-style-type: '\2714\00A0\00A0'; pego a numeração, uso a tag abaixo e coloco a numeração entre os parenteses ali e entre duas barras invertidas.
    posso usar tbm a \00A0\ que no caso é como vc desse uma barra de espaço ali entre o texto e o simbolo que vc está adicionando.
    
    
        list-style-type: '\2714\00A0\00A0';
    não posso fechar com a barra, tem que ser usado igual esta acima.
    lembrando que isso não é compativel com todos os navegadores, então eu mesmo n vou usar saporra.
    acabou perdendo o arredondamento que eu tinha colocado no aside.
    
}

aside h3 {
    background-color: var(--cor06);
    padding:5px 0px 0px 1px;
    margin: 4px 0px -13px 0px;
    border-radius: 10px 10px 0px 0px;
    usando os border radius nos 2 primeiros px arredonda a borda direita e borda esquerda, as outras duas são as de baixo.
    border-radius: 4px 3px 0px 0px;

}
    
   
footer {
    background-color: var(--cor06);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    
}
footer a {
    color: white;
    text-decoration: none;    
}
footer a:hover {
    color:var(--cor01);
    text-decoration: underline;
    font-weight: bolder;
 
}
}
img {
    width: 100%; essa tag aqui, como não coloquei dentro de um main por exemplo, ela vai alterar as imagens do meus site inteiro.
}
img.pequena {
    width: 50%;
    display: block; tive que colocar display block para então eu conseguir fazer o margin auto funcionar, deixei width 50% para ela ficar com um tamanho bacana sem perder a qualidade.
    margin: auto;
}